body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
}

.bungalow{
  border: 3px solid;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
}
